.board_card {
  --move-btn-dimensions: 1.4rem;
  --details-btn-horizontal-padding: 0.7rem;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.board_card:hover .details_button {
  background-color: rgb(245, 245, 245);
}

.board_card:hover > .move_button {
  visibility: visible;
}

.move_button {
  display: flex;
  visibility: hidden;
  position: absolute;
  right: 0;
  cursor: pointer;
  margin: 0 0.5rem;
  background-color: transparent;
  border: none;
  height: var(--move-btn-dimensions);
  width: var(--move-btn-dimensions);
  align-items: center;
  justify-content: center;
  border-radius: 0.3em;
}

.move_button:focus {
  outline: 2px solid black;
}

.move_button:hover {
  background-color: rgb(0, 0, 0, 0.1);
}

.move_icon {
  font-size: 0.8rem;
}

.details_button {
  cursor: pointer;
  width: 100%;
  background-color: white;
  border: none;
  border-radius: 0.3em;
  padding: 0.3em 0.8rem;
  box-shadow: 0 1px 1px 1px rgb(0, 0, 0, 0.1);
  text-align: left;
  flex-direction: column;
  display: flex;
  gap: 0.2rem;
}

.title {
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 1.3em;
  width: 200px;
  word-break: break-all;
}

footer {
  width: 100%;
}

.footer_icon {
  font-size: 1rem;
  color: gray;
}
