.BoardCard {
  --move-btn-dimensions: 1.4rem;
  --details-btn-horizontal-padding: 0.7rem;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.BoardCard:hover .BoardCard__details-btn {
  background-color: rgb(245, 245, 245);
}

.BoardCard:hover > .BoardCard__move-btn {
  visibility: visible;
}

.BoardCard__move-btn {
  display: flex;
  visibility: hidden;
  position: absolute;
  right: 0;
  cursor: pointer;
  margin: 0 0.5rem;
  background-color: transparent;
  border: none;
  height: var(--move-btn-dimensions);
  width: var(--move-btn-dimensions);
  align-items: center;
  justify-content: center;
  border-radius: 0.3em;
}

.BoardCard__move-btn:focus {
  outline: 2px solid black;
}

.BoardCard__move-btn:hover {
  background-color: rgb(0, 0, 0, 0.1);
}

.BoardCard__move-icon {
  font-size: 0.8rem;
}

.BoardCard__details-btn {
  cursor: pointer;
  width: 100%;
  background-color: white;
  border: none;
  border-radius: 0.3em;
  padding: 0.3em 0.8rem;
  box-shadow: 0 1px 1px 1px rgb(0, 0, 0, 0.1);
  text-align: left;
}

.BoardCard__title {
  font-size: 0.9rem;
  line-height: 1.3em;
  width: 200px;
  word-break: break-all;
}
