.BoardCard {
  --delete-btn-dimensions: 1.4rem;
  --details-btn-horizontal-padding: 0.7rem;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.BoardCard:hover .BoardCard__details-btn {
  background-color: rgb(245, 245, 245);
}

.BoardCard:hover > .BoardCard__delete-btn {
  display: flex;
}

.BoardCard__delete-btn {
  display: none;
  position: absolute;
  right: 0;
  cursor: pointer;
  margin: 0 var(--details-btn-horizontal-padding);
  background-color: transparent;
  border: none;
  height: var(--delete-btn-dimensions);
  width: var(--delete-btn-dimensions);
  align-items: center;
  justify-content: center;
  border-radius: 0.3em;
}

.BoardCard__delete-btn:hover {
  color: rgb(210, 0, 0);
  background-color: rgb(0, 0, 0, 0.1);
}

.delete-btn-icon {
  font-size: 0.8rem;
}

.BoardCard__details-btn {
  cursor: pointer;
  width: 100%;
  background-color: white;
  border: none;
  border-radius: 0.3em;
  padding: 0.3em var(--details-btn-horizontal-padding);
  padding-right: calc(
    var(--details-btn-horizontal-padding) + var(--delete-btn-dimensions)
  );
  box-shadow: 0 1px 1px 1px rgb(0, 0, 0, 0.1);
  text-align: left;
}

.BoardCard__title {
  font-size: 0.9rem;
  line-height: 1.3em;
}
