.ColumnCard {
  display: flex;
  flex-direction: column;
  background-color: #EBECF0;
  padding: 0.4rem;
  border-radius: 0.4rem;
  box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.1);
}

.ColumnCard__header {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.1rem;
  padding: 0.3em 0.25em;
  width: 100%;
}

.ColumnCard__editable-title {
  font-size: 1rem;
  font-family: sans-serif;
  color: rgb(23, 44, 50);
  font-weight: 700;
  padding: 0.1em 0.4em;
  border-radius: 0.25em;
}

.ColumnCard__editable-title:hover {
  background-color: rgb(255, 255, 255, 0.7);
}

.ColumnCard__editable-title-input {
  flex-grow: 1;
  border: 1px solid skyblue;
  border-radius: 0.25em;
  font-size: 1rem;
  text-align: center;
  font-weight: 700;
  outline: none;
}

.ColumnCard__btns-wrapper {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.ColumnCard__movement-btns-wrapper {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.ColumnCard__movement-btn {
  width: 1.3rem;
  height: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 0.3em;
}

.ColumnCard__movement-btn:hover,
.ColumnCard__delete-btn:hover,
.ColumnCard__add-btn:hover {
  background-color: rgb(0, 0, 0, 0.07);
}

.ColumnCard__movement-btn:active,
.ColumnCard__delete-btn:active,
.ColumnCard__add-btn:active {
  background-color: rgb(0, 0, 0, 0.13);
}

.ColumnCard__movement-icon {
  font-size: 1rem;
  color: #000;
}

.ColumnCard__delete-btn {
  background-color: transparent;
  border: none;
  width: 1.3rem;
  height: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.3em;
}

.ColumnCard__delete-btn:hover > .ColumnCard__delete-icon {
  color: #be0000;
}

.ColumnCard__delete-icon {
  font-size: 0.9rem;
}

.ColumnCard__add-btn {
  border: none;
  background-color: transparent;
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  gap: 0.3rem;
  align-items: center;
  color: rgb(23, 44, 50);
  border-radius: 0.3em;
  width: 100%;
}

.ColumnCard__add-icon {
  font-size: 0.7rem;
}

.ColumnCard__add-btn-text {
  font-size: 0.9rem;
}
