.close_button {
  width: 2.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.3rem;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  margin: 0.5rem;
}

.close_button:hover {
  background-color: lightgray;
}

.close_icon {
  font-size: 1rem;
}

.title_wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.text {
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0.05em 0;
  max-width: 90%;
  word-break: break-all;
  border: none;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
  border-radius: 0.1em;
}

.text:hover {
  background-color: rgb(0, 0, 0, 0.1);
}

.input {
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 0.1em;
  padding: 0 0.2em;
  border: 1px solid black;
  max-width: 315px;
}

.input:focus {
  border: 1px solid transparent;
  outline: 2px solid #0079bf;
}

.column_title {
  font-size: 0.9rem;
}

.underline {
  text-decoration: underline;
}

.description_wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.description_heading {
  font-size: 1.1rem;
  font-weight: 700;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.form_input {
  min-height: 4em;
  font-size: 0.9rem;
  resize: none;
  border-radius: 0.2em;
  border: 1px solid black;
  padding: 0.6em;
  font-family: sans-serif;
}

.form_input:focus {
  outline: 1px solid #0079bf;
  border: 1px solid #0079bf;
}

.buttons_wrapper {
  display: flex;
  gap: 0.4rem;
}

.form_button {
  cursor: pointer;
  font-size: 0.85rem;
  padding: 0.6em 0.9em;
  border: none;
  border-radius: 0.2em;
  background-color: white;
}

.form-button:hover {
  filter: brightness(0.93);
}

.save_button {
  background-color: #0079bf;
  color: white;
}

.edit_button {
  border: none;
  background-color: rgb(0, 0, 0, 0.03);
  text-align: left;
  cursor: pointer;
}

.edit_button:hover {
  background-color: rgb(0, 0, 0, 0.1);
}

.description {
  font-size: 0.9rem;
  padding: 0.6em;
  border-radius: 0.2em;
  min-height: 4em;
}
