.close_button {
  width: 2.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.3rem;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  margin: 0.5rem;
}

.close_button:hover {
  background-color: lightgray;
}

.close_icon {
  font-size: 1rem;
}
