.modal {
  width: 430px;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  background-color: white;
  padding: 2rem;
  position: relative;
  gap: 1.5rem;
  border-radius: 0.3rem;
}

.message {
  max-width: 95%;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.column_button {
  cursor: pointer;
  background-color: rgb(0, 0, 0, 0.1);
  font-size: 0.9rem;
  padding: 0.2em 0.4em;
  border-radius: 0.3em;
  border: 1px solid lightgray;
  box-shadow: 0px 2px 3px rgb(0, 0, 0, 0.2);
}
